# Ignore Gradle project-specific cache directory
.gradle/

# Ignore Gradle build output directory
build/

# Bot stuff
logs/

# Intellij IDEA
.idea
*.iml

# Residues from js/ts branch
.env
*.log
node_modules/
built/
